{% extends "Layouts/index.html" %}
{% block content %}
<form>
    <div class="form-group">
        <input name="num" id="article" class="form-control form-control-lg" style="text-align:center;" placeholder="输入数值">
    </div>
</form>
<button type="submit" id="submit" class="btn btn-primary btn-lg btn-block">提交</button>
<br>
<div class="list">
    <ul class="list-group">

    </ul>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    function copyUrl2(i)
    {
        var Url2=document.getElementById("val"+i).innerText;
        var oInput = document.createElement('input');
        oInput.value = Url2;
        document.body.appendChild(oInput);
        oInput.select(); // 选择对象
        document.execCommand("Copy"); // 执行浏览器复制命令
        oInput.className = 'oInput';
        oInput.style.display='none';
        alert('复制成功');
    }
</script>
<script>
    $(function () {
        $("#submit").click(function () {
            $(".list >ul>li").remove();
            var num = $("input[name='num']").val();
            if($("input[name='num']").val()!=''){
                $.ajax('/res', {
                    type: 'post',
                    data: {num:num},
                    headers: {
                        'X-CSRF-TOKEN': 'token',
                        'Authorization':'Bearer '
                    },
                    success: function(res){
                        console.log(res)
                        if(res.code =='22000')
                        {
                            for(var i=0;i<res.result.length;i++){
                                $(".list >ul").append("" +
                                    "<li class='list-group-item' id='val"+i+"'>"
                                    +res.result[i]+"" +
                                    "<button class='btn btn-success' style='float: right;' type='button' onClick='copyUrl2("+i+")'>点击复制</button>"+
                                    "</li>"
                                );
                            }
                        }

                    },
                    error:function (res) {
                        if(res.status!=200){
                            alert('失败')
                        }
                    }
                });
            }else{
                alert('不能为空')
            }
        })
    })
</script>
{% endblock %}
